<!-- Crear tarjeta de credito -->
<div class="formularioResgistro">
    <h2>Crear Tarjeta de Credito</h2>
    <form [formGroup]="tarjetaForm" (ngSumit)="guardar()">
        <div class="forme-group">
            <label>Cliente: </label>
            <select name="cliente" id="cliente" formControlName="cliente" class="form-control">
                <option [ngValue]="item.id" *ngFor="let item of clientes">{{item.id}}</option>
            </select>
        </div>
        <div class="forme-group">
            <label>Numero de tarjeta: </label>
            <input type="number" formControlName='numero' class="form-control">
        </div>
        <div class="container">
            <h3>Fecha de caducidad </h3>

            <div class="forme-group">
                <label>Año: </label>
                <input type="number" formControlName='anho' class="form-control">
            </div>
            <div class="forme-group">
                <label>Mes</label>
                <input type="number" formControlName='mes' class="form-control">
            </div>
        </div>

        <div class="forme-group">
            <label>CVC</label>
            <input type="number" formControlName='codigo' class="form-control">
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="tarjetaForm.invalid">Guardar</button>
    </form>
</div>